/* CSS reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { 
  margin: 0;
  padding: 0;
}
body {
  font-family: "Times New Roman", "YuMincho", "Hiragino Mincho ProN", "Yu Mincho", "MS PMincho", serif;
  font-size: 14px;
}
img { 
  border: 0;
}

@-webkit-keyframes slideOut {
  0% {top:-30px; opacity: 0; }
  100% {top:0px; opacity: 1; }
}
@-moz-keyframes slideOut {
  0% {top:-30px; opacity: 0; }
  100% {top:0px; opacity: 1; }
}
@-o-keyframes slideOut {
  0% {top:-30px; opacity: 0; }
  100% {top:0px; opacity: 1; }
}
@-ms-keyframes slideOut {
  0% {top:-30px; opacity: 0; }
  100% {top:0px; opacity: 1; }
}
@keyframes slideOut {
  0% {top:-30px; opacity: 0; }
  100% {top:0px; opacity: 1; }
}

div#paper {
  background-color: #eee;
  width: 800px;
  margin: 3em auto;
  padding: 1px;
}

div#header {
  margin: 1px 1em 0 1em;
}

div#footer {
  margin: 0 1em 0 1em;
  border-bottom: solid 1px #888;
  float: bottom;
  border: solid 1px #888;
}

div#box {
  padding-bottom: 1em;
}

div#left {
  float: right;
  width: 570px;
  margin: 1em 0 0 0;
  border-right: solid 1px #888;
  border-left: solid 1px #eee;
}

div#right {
  float: right;
  width: 170px;
  margin: 1em 1.5em 0 0.5em;
  text-align:  center;
}

.hidden {
  color: #eee;
  font-size: xx-small;
}

a:link {
  text-decoration: none;
  color: #000;
}
a:visited {
  text-decoration: none;
  color: #000;
}

.xx-large { font-size: xx-large; }
.x-large { font-size: x-large; }
.large { font-size: large; }
.small { font-size: small; }
.x-small { font-size: x-small; }
.bold { font-weight: bold; }

.article {
  border-bottom: 1px solid #000;
  margin-top: 2px;
  margin-bottom: 2px;
}

.date {
  margin: 3em 0;
}

.panel {
  width: 100%;
  min-height: 100%;
  position: absolute;
  margin-left: -150%;
  z-index: 2;
  -webkit-transition: all .5s ease-in-out;
  -moz-transition:    all .5s ease-in-out;
  -o-transition:      all .5s ease-in-out;
  -ms-transition:     all .5s ease-in-out;
  transition:         all .5s ease-in-out;
}
.panel:target {
  margin-left: 0%;
  background-color: #fff;
}

.shadow {
  -moz-box-shadow: 0px 0px 10px #000;
  -webkit-box-shadow: 0px 0px 10px #000;
  box-shadow: 0px 0px 10px #000;
}

div#rotate_99 {
  margin-right: 1em;
}
